<!DOCTYPE html>
<html>
  <head>
    <title>code challenge</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="page">
      <h1 class="page_title">Ok, I lied a little...</h1>
      <h3 class="page_subtitle">But I was wondering if you wanted to get a drink and go bowling when you're back in town?</h3>

      <br><br>

      <button class="btn btn-medium btn-white btn-radius" onclick="sendYes()">YES!</button>

      <button class="btn btn-medium btn-red btn-radius" onclick="sendNo()">Lol, no</button>

      <br><br>

      <div id="result"></div>
    </div>
  </body>

  <script>

let timesClicked = 0;
let res = document.getElementById('result');
let alreadyClicked = document.createTextNode("Ok, hold up. I didn't have that much time to make this. The buttons only work twice. Seriously.")
let newcontent = document.createTextNode("I lied again. These buttons don't work. But my phone does.")

function sendYes() {
  if (timesClicked < 1) {
    res.appendChild(newcontent);
  } else {
    res.replaceChild(alreadyClicked, res.childNodes[0]);
  }
  timesClicked += 1
}


function sendNo() {
  if (timesClicked < 1) {
    res.appendChild(newcontent);
  } else {
    res.replaceChild(alreadyClicked, res.childNodes[0]);
  }
  timesClicked += 1
}

  </script>

  <style>
@import url(https://fonts.googleapis.com/css?family=Raleway);

.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;

  color: #FFF;
  text-align: center;
}

.page_subtitle {
  display: flex-block;
  max-width: 80%;
  margin: 0 auto;
  font-weight: 400;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid #eee;
  margin: 2em 0;
  padding: 0;
}

h1, h2 {
  line-height: 1.5;
}

.btn {
  width: 15rem;
  border: 1px solid #FFF;
  background:rgba(0,0,0,0);
  margin: 0.5rem;
  padding: 1rem;
  color: #FFF;

  transition: all 0.2s ease-in;
}

.btn:hover {
  background: #FFF;
  color: #30A9F4;
  border-color: #FFF;
}

</style>
</html>
